@use "apprise-ui/common.scss";

.datebox {
    .datebox-frame {
        transition: height 0.3s;
        border-radius: 4px;
        background: white;

        .ant-select {
            color: common.$text-color-lighter;
            font-weight: 300;

            .ant-select-selection {
                font-variant: small-caps;
            }
        }

        .ant-select,
        .ant-calendar-picker {
            display: block;
        }

        .ant-select-selection,
        .ant-calendar-picker-input,
        .ant-input-number,
        .vselect,
        .vselect__control {
            border: none;

            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
            }
        }

        .datebox-relative {
            .databox-period {
                display: flex;

                .datebox-number {
                    min-width: 60px;
                    width: 60px;

                    border: 1px solid common.$text-color-frame;
                    border-radius: 0px;

                    &.ant-input-number-focused {
                        box-shadow: none;
                    }
                    border-right: 1px solid common.$text-color-frame;
                }

                .datebox-unit {
                    border-right: 1px solid common.$text-color-frame;
                    flex-grow: 1;
                }

                .datebox-direction {
                    flex-grow: 1;
                    margin-left: -2px;
                }
            }

            .datebox-target {
                border-top: 1px solid common.$text-color-frame;
                height: 32px;
            }

            .datebox-preview {
                line-height: 32px;
                overflow: hidden;
                background: white;

                transition: height 0.5s;
                border-top: 1px solid common.$text-color-frame;

                display: flex;

                .preview-text {
                    // border-right: 1px solid $text-color-frame;

                    min-width: 110px;
                    padding: 0px 10px;

                    color: common.$text-color-lighter;
                    font-weight: 300;
                    font-variant: small-caps;
                }

                .preview-date {
                    color: common.$text-color-lighter;

                    flex-grow: 1;
                    font-size: small;

                    border-right: none;
                    padding: 0px 10px;
                }

                .preview-icon {
                    padding: 0px 10px;

                    i {
                        color: common.$text-color-frame;
                    }
                }
            }
        }
    }
}