@use "apprise-ui/common.scss";


.testmailbtn {

     &.btn-newmessages {

         svg {
               fill: common.$primary-color !important;
               
         }
     }

     svg {

         fill: gray;

         &:hover {
          color: common.$primary-color 
          }
     }

}