@use "apprise-ui/common.scss";


.upgradebutton button {

    border-color:orangered;
    border-radius: 6px;
    background: orangered; 

    div {
        color: white !important;
    }

    &:hover {

        background: red;
        border-color:red;
    }
}