@use "apprise-ui/common.scss";

.ac-home {

    .page-main-content {
        color: common.$darktheme-text-color;
        background: common.$dark-background-lightest !important;
        padding-bottom: 25% !important;
    }

    .page-header {
        background: common.$dark-background-lightest !important;

        *:not(g):not(path) {
            color: common.$darktheme-text-color;
        }
    }



    .home-blurb {
        
        display: flex;
        flex-direction: column; 
        
        width: 100%;
        height: 100%;

        padding-bottom: 300px;

        color: common.$darktheme_color_emphasis;
      
        .innerEntry {

            width: 600px;
            display: flex;
            white-space: nowrap;

        }
      
        .entry {


            &:nth-child(odd) {
                background: #1a324a;
            }
    
            
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 70px 0px;

            border-bottom: 1px solid #32506f;

            ul {

                padding-left: 10px;
                list-style-type: none;

                li:first-of-type {

                    margin-top: 20px;
                }

                li {

                    display: flex;
                    align-items: center;
                    color: lightgray;
                    font-weight: 300;
                    font-size: 18px;
                    //font-variant: small-caps;

                    &:hover {
                        color:silver;
                    }
 
                    margin-top: 5px;

                    i {
                        color:common.$app-color;
                        font-size:18px;
                        margin-right: 8px;
                    }
                }
            }


           

            .logo {

                margin-top: auto;
                margin-bottom: auto;
                text-align: center;

                .icon-halo {

                    font-size: 80px;
                    background: #20384e;
                    border-radius: 50%;
                    padding: 0px 20px;
        
                    &:hover {
                        transform: scale(1.02);
                        color: white;
                    
                    }

                    &.right {
                        margin: 0 30px;
                    }
                }
            }

            .contents {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                font-weight: 200;

                .title {
                    font-size: 2em;
                    color: lightblue;
                }
                
                .text {
                    font-size: 1em;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    
                    .button {
                        margin-right: 20px;
                        border:none;

                         color:white;

                        &:hover {
                            opacity:.85;
                        }

                    }
                }
            }



        }
    }




    .home-title {


        padding-top: 50px;
        padding-bottom: 70px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .home-ico {
            width: 200px;
        }

        .app-name {
            font-weight: 100;
            margin-top: 10px;
            font-size: 50px;
            color: #fff;
        }

        .app-subtitle {
            font-size: 20px;
            color: silver;
            font-weight: 100;
            margin-top: 5px;
        }

    }

}

.header-clock {
    font-size: small;

    .label-icon svg > * {
        color: dodgerblue !important;
    }
}